.circular-gallery {
  width: 100%;
  height: 100%;
  overflow: hidden;
  cursor: grab;
  min-height: 100vh;
}

.circular-gallery:active {
  cursor: grabbing;
}

.circular-gallery canvas {
  display: block;
}
